<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <div class="container-parent">
        <div class="container">
          <img src="./Screenshot 2024-07-09 224811.png" />
          <button class="btn">Learning</button>
          <p>Published 21 Dec 2023</p>
          <h3>HTML & CSS foundations</h3>
          <p id="a">
            These languages are the backbone of every website, defining
            structure,content and presentation.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
